// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// sidebar
$menuText: #000;
$menuActiveText: #fff;
$subMenuActiveText: #000; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #FFF;
$menuHover: #909DD8;

$subMenuBg: #FFF;
$subMenuHover: #909DD8;

$itemActiveBg: #001489;
$subMenuActiveBg: #FFF;

// size
$sideBarWidth: 300px;
$navigationBarHeight: 64px;
$mainAppMinHeight: calc(100vh - #{$navigationBarHeight});

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navigationBarHeight: $navigationBarHeight;
  mainAppMinHeight: $mainAppMinHeight;
}
